/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .header {
  background-color: #333;
}

/* Header Styles */
.header {
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Desktop Navigation */
.desktop-nav {
  margin-left: auto; /* Push nav links to the right */
}

/* Header Title */
.logo h1 {
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  color: #f5f5f5;
  text-shadow: 
    1px 1px 0px #a3c4f3,
    2px 2px 0px #7baaf7,
    3px 3px 0px #4f90fa,
    4px 4px 0px #266bdf,
    5px 5px 0px #1e4f8c,
    6px 6px 0px rgba(0, 0, 139, 0.7);
}

.logo p {
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 0.5rem;
}

/* Theme Toggle Button */
.theme-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s;
}

body.dark-mode .theme-toggle-btn .icon {
  color: #ffd700;
}

.theme-toggle-btn .icon {
  color: #ffffff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff6347, 0 0 10px #ff6347, 0 0 15px #ff6347;
  }
  100% {
    text-shadow: 0 0 10px #ffd700, 0 0 15px #ffd700, 0 0 20px #ffd700;
  }
}


.mobile-menu {
  z-index: 10;
  right: 6px;
  width: fit-content;
  height: fit-content;
}

.mobile-menu a {
  display: block;
  padding: 1rem 0;
  text-align: right;
}


@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .header {
    flex-direction: row;
  }

  .theme-toggle-btn {
    font-size: 1.2rem;
  }

  .logo h1 {
    font-size: 2em;
  }

  .logo p {
    font-size: 1em;
  }
}
